# Manus Quantum Metagloves USB dongle udev rules
# Allows non-root access to the Manus USB dongle
#
# Installation:
#   sudo cp 70-manus-hid.rules /etc/udev/rules.d/
#   sudo udevadm control --reload-rules
#   sudo udevadm trigger
#   (full system reboot recommended)
#
# Reference: https://docs.manus-meta.com/3.1.0/Plugins/SDK/Linux/

# Manus USB devices (vendor ID 0x3325)
SUBSYSTEMS=="usb", ATTRS{idVendor}=="3325", MODE:="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="3325", MODE:="0666"

# Nordic Semiconductor BLE dongle (used by Manus gloves)
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1915", ATTRS{idProduct}=="83fd", MODE:="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="1915", ATTRS{idProduct}=="83fd", MODE:="0666"
